@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Fredoka:wght@300..700&family=Inter:wght@100..900&family=Epilogue:wght@100..900&family=Figtree:wght@300..900&family=Poppins:wght@100..900&family=Roboto:wght@300;400;500;700&family=Mulish:wght@200..1000&family=Forum&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Cormorant:wght@300..700&family=DM+Sans:wght@100..1000&family=Fira+Sans:wght@100..900&family=Manrope:wght@200..800&family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Futura Std";
  src: url("/font/FuturaStdBook.woff") format("woff");
}

body {
  font-family: "Akshar", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
.fredoka {
  font-family: "Fredoka", sans-serif;
}
.epilogue {
  font-family: "Epilogue", sans-serif;
}
.figtree {
  font-family: "Figtree", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.mulish {
  font-family: "Mulish", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.forum {
  font-family: "Forum", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
}
.cormorant {
  font-family: "Cormorant", sans-serif;
}
.dmsans {
  font-family: "DM Sans", sans-serif;
}
.firasans {
  font-family: "Fira Sans", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}
.inconsolata {
  font-family: "Inconsolata", sans-serif;
}

.jost {
  font-family: "Jost", sans-serif;
}
